Repository ssinghalTT/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tenstorrent/metalium-developers-infra, @xanderchin, @jdesousa-TT, @sjameelTT, @davorchap, @cfjchu, @SeanNijjar, @aliuTT, @tt-aho, @TT-BrianLiu, @ubcheema, @aagarwalTT, @eelkozahTT, @abhullar-tt, @pgkeller, @tt-dma, @tt-asaigal, @omilyutin-tt, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @ntarafdar, @patrickroberts, @yan-zaretskiy, @eyonland, @ayerofieiev-tt, @dmakoviichuk-tt, @sminakov-tt, @mo-tenstorrent, @razorback3, @dongjin-na, @jvegaTT, @tenstorrent/metalium-developers-convolutions, @jaykru-tt, @yugi957, @llongTT, @nardoTT, @bbradelTT, @yugaoTT, @asandhupatlaTT, @rfurko-tt, @uaydonat, @esmalTT, @cglagovichTT, @yieldthought, @mtairum, @sraizada-tt, @skhorasganiTT, @djordje-tt, @kpaigwar, @johanna-rock-tt, @dvartaniansTT

Added input arch and os in parent file
  .github/workflows/build-and-test-wheels.yaml
Owners: @tenstorrent/metalium-developers-infra

Added input arch and os in parent file 2
  .github/workflows/build-and-test-wheels.yaml
Owners: @tenstorrent/metalium-developers-infra

Added input arch and os in parent file 3
  .github/workflows/build-and-test-wheels.yaml
Owners: @tenstorrent/metalium-developers-infra

#0: Yolov11 unit test cases
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  tests/ttnn/unit_tests/operations/test_silu.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @tenstorrent/metalium-developers-convolutions

#11512: Add sweeps with pre-allocated output tensors for some binary ops
  tests/sweep_framework/sweeps/eltwise/binary/multiply/multiple_unary_output.py
  tests/sweep_framework/sweeps/eltwise/binary/multiply/multiply_output.py
  tests/sweep_framework/sweeps/eltwise/binary_backward/add_bw/add_bw_output.py
  tests/sweep_framework/sweeps/eltwise/binary_backward/addalpha_bw/addalpha_bw_output.py
  tests/sweep_framework/sweeps/eltwise/binary_backward/div_bw/div_bw_output
  tests/sweep_framework/sweeps/eltwise/binary_backward/subalpha_bw/subalpha_bw_output.py
  tests/sweep_framework/sweeps/eltwise/unary_backward/add_bw/add_bw_output.py
  tests/sweep_framework/sweeps/eltwise/unary_backward/assign_bw/assign_bw_output.py
  tests/sweep_framework/sweeps/eltwise/unary_backward/div_bw/div_bw_output.py
  tests/sweep_framework/sweeps/embedding_bw/embedding_bw_output.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland

#11512: Add sweeps with pre-allocated output tensors for unary mul_bw and binary mul_bw
  tests/sweep_framework/sweeps/eltwise/binary_backward/mul_bw/mul_bw_output.py
  tests/sweep_framework/sweeps/eltwise/unary_backward/mul_bw/mul_bw_output.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland

#11512: Update ttnn-run-sweeps.yaml file
  .github/workflows/ttnn-run-sweeps.yaml
Owners: @xanderchin, @jdesousa-TT, @sjameelTT

#11512: Minor fixes
  tests/sweep_framework/sweeps/eltwise/binary_backward/div_bw/div_bw_output.py
  tests/sweep_framework/sweeps/eltwise/binary_backward/mul_bw/mul_bw_output.py
  tests/sweep_framework/sweeps/eltwise/unary_backward/assign_bw/assign_bw_output.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland

#0: expand Convolution as Matrix Multiplication documentation
  tech_reports/CNNs/media/im2col1.png
  tech_reports/CNNs/media/im2col2.png
  tech_reports/CNNs/media/im2col3.png
  tech_reports/CNNs/media/im2col4.png
  tech_reports/CNNs/media/im2col5.png
  tech_reports/CNNs/ttcnn.md
Owners: none

Remove unnecessary includes in jit_build
  tt_metal/jit_build/build.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: use variant instead passing in two global cbs
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tt_metal/api/tt-metalium/global_circular_buffer_impl.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher_pybind.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: currently all failed test pass when not DPRINT, but hangs for last test when DPRINT
  tests/ttnn/unit_tests/operations/test_prefetcher.py
  tt_metal/hw/inc/remote_circular_buffer_api.h
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/writer_l1.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: remove optional
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#0: fixed matmul when there are multiple subblocks, temp fix for pf CB size calc which has pcc err
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tests/ttnn/unit_tests/operations/test_prefetcher.py
  tt_metal/hw/inc/remote_circular_buffer_api.h
  tt_metal/hw/inc/wormhole/dev_mem_map.h
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_ring_all_gather.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/reader_dram.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/writer_l1.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @yugaoTT, @asandhupatlaTT

#0: address comment, add get_global_circular_buffer as util
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tt_metal/api/tt-metalium/global_circular_buffer_impl.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/global_cb_utils.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @SeanNijjar, @jvegaTT, @yugaoTT, @asandhupatlaTT

Adding support for multi-device prefetcher.
  tests/tt_eager/python_api_testing/unit_testing/misc/test_matmul_1d_gather_in0.py
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tests/ttnn/unit_tests/operations/test_prefetcher_TG.py
  tt_metal/api/tt-metalium/global_circular_buffer_impl.hpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/multi_core/all_gather_matmul_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul.hpp
  ttnn/cpp/ttnn/operations/matmul/matmul_pybind.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher_pybind.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @SeanNijjar, @jvegaTT, @yugaoTT, @asandhupatlaTT

#0: address comments
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @yugaoTT, @asandhupatlaTT

#0: use std variant for matmul global cbs
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  ttnn/cpp/ttnn/operations/experimental/ccl/all_gather_matmul/device/all_gather_matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.cpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/matmul/matmul.cpp
  ttnn/cpp/ttnn/operations/matmul/matmul.hpp
  ttnn/cpp/ttnn/operations/matmul/matmul_pybind.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @SeanNijjar, @jvegaTT, @tt-aho, @yugaoTT, @asandhupatlaTT

#0: fixed for some shapes, still hang at one test case
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tt_metal/hw/inc/remote_circular_buffer_api.h
  tt_metal/hw/inc/wormhole/dev_mem_map.h
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_ring_all_gather.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/reader_dram.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/writer_l1.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @yugaoTT, @asandhupatlaTT

#0: address comment
  tests/ttnn/unit_tests/operations/prefetcher_common.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#0: address comment
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#0: fix commit pick and add callback for pf
  tt_metal/api/tt-metalium/global_circular_buffer_impl.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op_multi_core_reuse_mcast_1d_program_factory.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @TT-BrianLiu, @bbradelTT, @yugaoTT, @asandhupatlaTT, @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu

#0: rebase fix
  ttnn/cpp/ttnn/operations/global_cb_utils.hpp
  ttnn/cpp/ttnn/operations/matmul/device/matmul_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op.hpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/dram_prefetcher.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu, @bbradelTT, @yugaoTT, @asandhupatlaTT

#0: reduce mesh device grid so that test can pass faster
  tests/ttnn/unit_tests/operations/test_prefetcher_TG.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#0: clean up
  tests/ttnn/unit_tests/operations/prefetcher_common.py
  tests/ttnn/unit_tests/operations/test_prefetcher.py
  tt_metal/hw/inc/remote_circular_buffer_api.h
  tt_metal/hw/inc/wormhole/dev_mem_map.h
  ttnn/cpp/ttnn/operations/matmul/device/kernels/compute/bmm_large_block_zm_fused_bias_activation_gathered.cpp
  ttnn/cpp/ttnn/operations/matmul/device/kernels/dataflow/reader_bmm_tile_layout_in1_ring_all_gather.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/dram_prefetcher_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/prefetcher/prefetcher/device/kernels/writer_l1.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @yugaoTT, @asandhupatlaTT

#0: address comment
  tests/ttnn/unit_tests/operations/prefetcher_common.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

debug demo perf
  models/demos/falcon7b_common/demo/demo.py
  models/demos/falcon7b_common/tt/falcon_model.py
  models/utility_functions.py
Owners: @skhorasganiTT, @djordje-tt, @uaydonat

#101: MLIR feature. generic_op base implementation. ethernet, cache and pybinding not implemented. some of the reflections in log_operation are broken - to investigate.
  tests/tt_eager/CMakeLists.txt
  tests/tt_eager/ops/test_generic_op.cpp
  tt_metal/api/tt-metalium/reflection.hpp
  ttnn/CMakeLists.txt
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/generic_op.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @ayerofieiev-tt, @dmakoviichuk-tt, @yan-zaretskiy, @cfjchu, @TT-BrianLiu

#111: Softmax works
  tests/tt_eager/ops/test_generic_op.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/multi_core/softmax_op_multi_core.cpp
Owners: @yugaoTT, @tt-aho, @asandhupatlaTT, @bbradelTT

#111: [wip] Running generic matmul
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

#111: Cleanup generic op tests
  tests/tt_eager/ops/test_generic_op.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_program_factory.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/multi_core/softmax_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_op.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu, @yugaoTT, @tt-aho, @asandhupatlaTT, @bbradelTT

#111: Matmul works
  tests/tt_eager/ops/test_generic_op.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_program_factory.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#0: link against libstdc++
  CMakeLists.txt
  tt_metal/api/tt-metalium/aligned_allocator.hpp
Owners: @tenstorrent/metalium-developers-infra, @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#111: [wip] Run softmax using ttnn generic
  tests/tt_eager/ops/test_generic_op.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/multi_core/softmax_op_multi_core.cpp
  ttnn/cpp/ttnn/operations/normalization/softmax/device/softmax_op.cpp
Owners: @yugaoTT, @tt-aho, @asandhupatlaTT, @bbradelTT

#111: Fix data format in binary interleaved
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

Unused variable operation id
  setup.sh
  tt_bisect.sh
Owners: none

#101: fixing broken reflections in log_operation. reflection support for std::map and std::unordered_map
  tt_metal/api/tt-metalium/reflection.hpp
  ttnn/cpp/ttnn/device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema, @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

fix compile errors
  tests/tt_eager/ops/test_generic_op.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.cpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

fix compile errors
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

fix typo in error message
  ttnn/cpp/ttnn/decorators.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.pre-commit-config.yaml @tenstorrent/metalium-developers-infra
.clang-format @tenstorrent/metalium-developers-infra
.clang-tidy @tenstorrent/metalium-developers-infra

.github/ @tenstorrent/metalium-developers-infra
.github/workflows/ttnn-run-sweeps.yaml @xanderchin @jdesousa-TT @sjameelTT

/infra/ @tenstorrent/metalium-developers-infra

CONTRIBUTING.md @tenstorrent/metalium-developers-infra

CODEOWNERS @tenstorrent/metalium-developers-infra

INSTALLING.md @tenstorrent/metalium-developers-infra
METALIUM_GUIDE.md @davorchap

# Build stuff

MANIFEST.in @tenstorrent/metalium-developers-infra
setup.py @tenstorrent/metalium-developers-infra
pyproject.toml @tenstorrent/metalium-developers-infra
requirements*.txt @tenstorrent/metalium-developers-infra

scripts/build_scripts/ @tenstorrent/metalium-developers-infra
cmake/ @tenstorrent/metalium-developers-infra
build_metal.sh @tenstorrent/metalium-developers-infra

/CMakeLists.txt @tenstorrent/metalium-developers-infra
tests/CMakeLists.txt @tenstorrent/metalium-developers-infra

# Testing scripts and infra

conftest.py @tenstorrent/metalium-developers-infra
/conftest.py @cfjchu @SeanNijjar @tenstorrent/metalium-developers-infra

tests/scripts/run_pre_post_commit_regressions.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_tests.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @aliuTT @tt-aho @TT-BrianLiu @tenstorrent/metalium-developers-infra
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_models.sh @tenstorrent/metalium-developers-infra
tests/scripts/single_card/ @tenstorrent/metalium-developers-infra
tests/scripts/single_card/nightly/ @tenstorrent/metalium-developers-infra
tests/scripts/t3000/ @tenstorrent/metalium-developers-infra
tests/scripts/tg/ @tenstorrent/metalium-developers-infra
tests/scripts/tgg/ @tenstorrent/metalium-developers-infra

# fabric
tt_metal/fabric/ @ubcheema @aliuTT @aagarwalTT @eelkozahTT

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema
tt_metal/host_api.hpp @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @davorchap
tt_metal/impl/device/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @davorchap @cfjchu
tt_metal/distributed/ @cfjchu @aliuTT @tt-asaigal @omilyutin-tt
tt_metal/**/requirements*.txt @tenstorrent/metalium-developers-infra

# metal - dispatch
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @ntarafdar
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT
tt_metal/tt_stl/ @patrickroberts @yan-zaretskiy @eyonland @ayerofieiev-tt @dmakoviichuk-tt @sminakov-tt

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @mo-tenstorrent @tenstorrent/metalium-developers-infra
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tenstorrent/metalium-developers-infra
tests/scripts/run_performance.sh @tenstorrent/metalium-developers-infra

# TTNN
ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @cfjchu @TT-BrianLiu
ttnn/ttnn/library_tweaks.py @ayerofieiev-tt @tenstorrent/metalium-developers-infra
ttnn/ttnn/operations/moreh.py @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/**/kernels/ # Removes the owners above from owning kernels unless specified afterwards
ttnn/**/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy
ttnn/cpp/ttnn/tensor/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @ayerofieiev-tt @razorback3 @dongjin-na

ttnn/cpp/ttnn/operations/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/operations/ccl/ @SeanNijjar @cfjchu @jvegaTT @tt-aho
ttnn/cpp/ttnn/operations/pool/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/conv/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/sliding_window/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/data_movement/ @ntarafdar @sjameelTT @jaykru-tt @yugi957 @jvegaTT @llongTT @nardoTT
ttnn/cpp/ttnn/operations/data_movement/fold/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT @asandhupatlaTT
ttnn/cpp/ttnn/operations/experimental/ccl/ @SeanNijjar @jvegaTT @tt-aho
ttnn/cpp/ttnn/operations/experimental/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT @asandhupatlaTT
ttnn/cpp/ttnn/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
ttnn/cpp/ttnn/operations/reduction/ @bbradelTT @asandhupatlaTT @sjameelTT
ttnn/cpp/ttnn/operations/normalization/ @yugaoTT @tt-aho @asandhupatlaTT @bbradelTT
ttnn/cpp/ttnn/operations/embedding/ @ntarafdar @tt-aho @TT-BrianLiu @yugi957 @sjameelTT @jaykru-tt @llongTT @nardoTT
ttnn/cpp/ttnn/operations/embedding_backward/ @TT-BrianLiu @yan-zaretskiy
ttnn/ttnn/operations/eltwise @patrickroberts @yan-zaretskiy @eyonland
tests/ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @rfurko-tt @cfjchu @TT-BrianLiu @razorback3 @dongjin-na @bbradelTT
tests/ttnn/unit_tests/gtests/ccl/ @SeanNijjar @jvegaTT @cfjchu @tt-aho
tests/ttnn/unit_tests/operations/ccl/ @SeanNijjar @jvegaTT @tt-aho
tests/ttnn/unit_tests/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/ @xanderchin @jdesousa-TT @sjameelTT
tests/sweep_framework/sweeps
tests/sweep_framework/sweeps/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/sweeps/conv2d/  @tenstorrent/metalium-developers-convolutions
tests/sweep_framework/sweeps/data_movement/  @sjameelTT @ntarafdar @jaykru-tt @yugi957 @llongTT @jvegaTT @nardoTT
tests/sweep_framework/sweeps/fused/  @bbradelTT @asandhupatlaTT @sjameelTT
tests/sweep_framework/sweeps/matmul/  @bbradelTT @asandhupatlaTT @sjameelTT
tests/sweep_framework/sweeps/reduction/  @bbradelTT @asandhupatlaTT @sjameelTT

# TTNN Distributed
ttnn/cpp/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt
ttnn/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt
tests/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt

# models
/models/ @uaydonat
/models/*/**
models/conv_on_device_utils*.py @tenstorrent/metalium-developers-convolutions
functional_*/ @uaydonat @esmalTT
models/demos @uaydonat
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat
models/demos/t3000 @uaydonat
models/demos/llama3 @cglagovichTT @yieldthought @mtairum @uaydonat
models/demos/qwen @sraizada-tt @mtairum @uaydonat @yieldthought
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/wormhole/stable_diffusion @esmalTT @uaydonat @tenstorrent/metalium-developers-convolutions
models/demos/t3000/falcon40b @uaydonat @djordje-tt @johanna-rock-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/tg/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/grayskull @uaydonat
models/demos/yolov4 @dvartaniansTT @tenstorrent/metalium-developers-convolutions
models/demos/wormhole/yolov4 @dvartaniansTT @tenstorrent/metalium-developers-convolutions
models/demos/**/*resnet*  @tt-aho @tenstorrent/metalium-developers-convolutions
models/experimental/functional_unet @esmalTT @uaydonat @tenstorrent/metalium-developers-convolutions
models/perf/ @uaydonat
models/perf/perf_report.py @yieldthought @uaydonat
models/perf/benchmarking_utils.py @skhorasganiTT

# docs
docs/Makefile @tenstorrent/metalium-developers-infra
docs/source/ttnn/ttnn/dependencies/tt_lib.rst @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt
docs/source/ttnn/ @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt @razorback3 @dongjin-na

# misc
tests/**/dtx/ @tenstorrent/metalium-developers-convolutions
tests/**/*test*conv*.py @tenstorrent/metalium-developers-convolutions
tests/ttnn/unit_tests/operations/convolution @tenstorrent/metalium-developers-convolutions
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/docker @tenstorrent/metalium-developers-infra

dockerfile @tenstorrent/metalium-developers-infra

ttnn/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy


# tt-train
tt-train/** @dmakoviichuk-tt @rfurko-tt
