Repository ssinghalTT/tt-metal, changes with the owners that CODEOWNERS names for each.
All owners: @tenstorrent/metalium-developers-infra, @xanderchin, @jdesousa-TT, @sjameelTT, @davorchap, @cfjchu, @SeanNijjar, @aliuTT, @tt-aho, @TT-BrianLiu, @ubcheema, @aagarwalTT, @eelkozahTT, @abhullar-tt, @pgkeller, @tt-dma, @tt-asaigal, @omilyutin-tt, @rtawfik01, @rdjogoTT, @ttmtrajkovic, @mywoodstock, @ntarafdar, @patrickroberts, @yan-zaretskiy, @eyonland, @ayerofieiev-tt, @dmakoviichuk-tt, @sminakov-tt, @mo-tenstorrent, @razorback3, @dongjin-na, @jvegaTT, @tenstorrent/metalium-developers-convolutions, @jaykru-tt, @yugi957, @llongTT, @nardoTT, @bbradelTT, @yugaoTT, @asandhupatlaTT, @rfurko-tt, @uaydonat, @esmalTT, @cglagovichTT, @yieldthought, @mtairum, @sraizada-tt, @skhorasganiTT, @djordje-tt, @kpaigwar, @johanna-rock-tt, @dvartaniansTT

revert changes to device_operation.hpp
  ttnn/cpp/ttnn/device_operation.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

switch to invoke calls since operator() is only legal in C++23 and beyond
  ttnn/cpp/ttnn/operations/generic/generic_op/generic_op.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

fix header path
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

fix compile errors and header path
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

Update tests/tt_eager/ops/test_generic_op.cpp
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

remove headers that don't exist anymore
  tests/tt_eager/ops/test_generic_op.cpp
Owners: none

pass underlying types needed by op as function arguments into invoke
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/generic_op.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

switch back to passing operation_attributes_t as function argument into invoke
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/generic_op.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

register ttnn::prim::generic
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.cpp
  ttnn/cpp/ttnn/operations/generic/generic_op/device/generic_op_device_operation.hpp
  ttnn/cpp/ttnn/operations/generic/generic_op/generic_op.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

remove script
  tt_bisect.sh
Owners: none

remove script
  setup.sh
Owners: none

#0: Yolov7 unit tests
  tests/ttnn/unit_tests/operations/eltwise/test_activation.py
  tests/ttnn/unit_tests/operations/test_concat.py
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  tests/ttnn/unit_tests/operations/test_permute.py
  tests/ttnn/unit_tests/operations/test_silu_row_major.py
  tests/ttnn/unit_tests/operations/test_upsample.py
  tests/ttnn/unit_tests/test_reshape.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland, @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @tenstorrent/metalium-developers-convolutions

#0: Add maxpool unit test (low pcc) for YOLOv8m model
  tests/ttnn/unit_tests/operations/test_maxpool2d.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#0: Add unit tests for YOLOv8m model
  tests/ttnn/unit_tests/operations/README.md
  tests/ttnn/unit_tests/operations/test_new_conv2d.py
  tests/ttnn/unit_tests/operations/test_silu.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT, @tenstorrent/metalium-developers-convolutions

#11512: Add mac sharded
  .github/workflows/ttnn-run-sweeps.yaml
  tests/sweep_framework/sweeps/eltwise/ternary/mac/mac_sharded.py
Owners: @xanderchin, @jdesousa-TT, @sjameelTT, @patrickroberts, @yan-zaretskiy, @eyonland

#0: Add ttnn support for Yolov8m mode
  models/experimental/functional_yolov8m/README.md
  models/experimental/functional_yolov8m/demo/demo.py
  models/experimental/functional_yolov8m/demo/demo_utils.py
  models/experimental/functional_yolov8m/demo/images/bus.jpg
  models/experimental/functional_yolov8m/demo/runs/torch_model/prediction_20250117_142124.jpg
  models/experimental/functional_yolov8m/demo/runs/tt_model/prediction_20250117_142426.jpg
  models/experimental/functional_yolov8m/reference/yolov8m_utils.py
  models/experimental/functional_yolov8m/tests/test_yolov8m.py
  models/experimental/functional_yolov8m/tt/ttnn_yolov8m.py
  models/experimental/functional_yolov8m/tt/ttnn_yolov8m_utils.py
  tests/ttnn/integration_tests/yolov8m/test_ttnn_yolov8m.py
Owners: @uaydonat, @esmalTT, @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

Replace individual llks with tt_llk
  .gitmodules
  tt_metal/hw/CMakeLists.txt
  tt_metal/jit_build/build.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

#0: address comments
  tech_reports/CNNs/media/im2col6.png
  tech_reports/CNNs/ttcnn.md
Owners: none

part of move
  tests/tt_metal/tt_fabric/fabric_router/test_routing_tables.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/kernels/tt_fabric_traffic_gen_rx.cpp
  tests/tt_metal/tt_metal/perf_microbenchmark/routing/kernels/tt_fabric_traffic_gen_tx.cpp
  tt_metal/fabric/hw/inc/tt_fabric.h
  tt_metal/fabric/hw/inc/tt_fabric_api.h
  tt_metal/fabric/impl/kernels/tt_fabric_router.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

Cleanup ControlPlane, use tt::Cluster
  tt_metal/fabric/control_plane.cpp
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

fix error when resolving merge conflict
  ttnn/cpp/ttnn/device_operation.hpp
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @cfjchu, @TT-BrianLiu

#6539: Fixed comparison for some test cases
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_min_max.py
  tests/ttnn/python_api_testing/sweep_tests/op_map.py
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_broken/wormhole/ttnn_sum_test.yaml
  ttnn/tt_lib/_internal/comparison_funcs.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#4514: Update reshape unit test with new failing examples
  tests/ttnn/python_api_testing/non_working_unit_tests/grayskull/test_reshape.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#14514: Move reshape sweeps to nightly
  tests/sweep_framework/sweeps/data_movement/reshape/reshape.py
Owners: @sjameelTT, @ntarafdar, @jaykru-tt, @yugi957, @llongTT, @jvegaTT, @nardoTT

3176: Updated arange sweep tests
  tests/tt_eager/python_api_testing/sweep_tests/generation_funcs.py
  tests/ttnn/python_api_testing/sweep_tests/ttnn_ops.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#7749: Moving working sweeps to working folder
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_broken/grayskull/ttnn_eltwise_signbit_test.yaml
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_broken/wormhole/ttnn_eltwise_signbit_test.yaml
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/grayskull/ttnn_eltwise_signbit_test.yaml
  tests/ttnn/python_api_testing/sweep_tests/test_configs/ci_sweep_tests_working/wormhole/ttnn_eltwise_signbit_test.yaml
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#5145: Fixed fill_bw sweep test
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_backward_fill.py
  tests/tt_eager/python_api_testing/non_working_unit_tests/wormhole/test_backward_fill.py
  tests/tt_eager/python_api_testing/sweep_tests/pytorch_ops.py
Owners: none

#13973: Fixed logaddexp2_bw sweep test
  tests/sweep_framework/sweeps/eltwise/binary_backward/logaddexp2_bw.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland

#13930: Fixed logaddexp_bw sweep test
  tests/sweep_framework/sweeps/eltwise/binary_backward/logaddexp_bw.py
  tests/sweep_framework/sweeps/eltwise/unary/logit/logit.py
Owners: @patrickroberts, @yan-zaretskiy, @eyonland

#16927: Fix broken min/max unit test
  tests/ttnn/python_api_testing/non_working_unit_tests/wormhole/test_min_max.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#14419: Fixed mse_loss and l1_loss sweep tests
  tests/sweep_framework/sweeps/losses/l1_loss.py
  tests/sweep_framework/sweeps/losses/mse_loss.py
Owners: none

#3601: Fixed test_eltwise_softmax_in_place unit test
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_softmax_in_place.py
Owners: none

#3601: Fixed test_eltwise_softmax_in_place unit test
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_softmax_in_place.py
  tests/ttnn/python_api_testing/sweep_tests/ttnn_ops.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#6947: Fixed unit reshape test
  tests/ttnn/python_api_testing/non_working_unit_tests/grayskull/test_reshape.py
  tests/ttnn/python_api_testing/sweep_tests/ttnn_ops.py
Owners: @ayerofieiev-tt, @dmakoviichuk-tt, @rfurko-tt, @cfjchu, @TT-BrianLiu, @razorback3, @dongjin-na, @bbradelTT

#5145: Fixed mse loss sweep test
  tests/sweep_framework/sweeps/losses/mse_loss.py
Owners: none

#3602: fixed test_eltwise_scale_mask_softmax_in_place unit test
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_eltwise_scale_mask_softmax_in_place.py
Owners: none

#16928: Fix l1_loss and mse_loss sweep tests
  tests/sweep_framework/sweeps/losses/l1_loss.py
  tests/sweep_framework/sweeps/losses/mse_loss.py
Owners: none

#5164: Fixed complex_polar unit test
  tests/tt_eager/python_api_testing/non_working_unit_tests/grayskull/test_complex_polar.py
Owners: none

#0: add perf capture logic to eth ping
  tests/scripts/run_moreh_microbenchmark.sh
  tests/scripts/test_moreh_microbenchmark.py
  tests/tt_metal/microbenchmarks/ethernet/test_ethernet_link_ping_latency.py
  tests/tt_metal/tt_metal/perf_microbenchmark/ethernet/test_ethernet_link_ping_latency_no_edm.cpp
  tt_metal/hw/inc/ethernet/dataflow_api.h
Owners: @abhullar-tt, @pgkeller, @aliuTT, @tt-aho, @tt-dma, @tt-asaigal, @ubcheema

CODEOWNERS:

# Order is important; the last matching pattern takes the most
# precedence.

.pre-commit-config.yaml @tenstorrent/metalium-developers-infra
.clang-format @tenstorrent/metalium-developers-infra
.clang-tidy @tenstorrent/metalium-developers-infra

.github/ @tenstorrent/metalium-developers-infra
.github/workflows/ttnn-run-sweeps.yaml @xanderchin @jdesousa-TT @sjameelTT

/infra/ @tenstorrent/metalium-developers-infra

CONTRIBUTING.md @tenstorrent/metalium-developers-infra

CODEOWNERS @tenstorrent/metalium-developers-infra

INSTALLING.md @tenstorrent/metalium-developers-infra
METALIUM_GUIDE.md @davorchap

# Build stuff

MANIFEST.in @tenstorrent/metalium-developers-infra
setup.py @tenstorrent/metalium-developers-infra
pyproject.toml @tenstorrent/metalium-developers-infra
requirements*.txt @tenstorrent/metalium-developers-infra

scripts/build_scripts/ @tenstorrent/metalium-developers-infra
cmake/ @tenstorrent/metalium-developers-infra
build_metal.sh @tenstorrent/metalium-developers-infra

/CMakeLists.txt @tenstorrent/metalium-developers-infra
tests/CMakeLists.txt @tenstorrent/metalium-developers-infra

# Testing scripts and infra

conftest.py @tenstorrent/metalium-developers-infra
/conftest.py @cfjchu @SeanNijjar @tenstorrent/metalium-developers-infra

tests/scripts/run_pre_post_commit_regressions.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_tests.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_pre_post_commit_regressions_multi_device.sh @aliuTT @tt-aho @TT-BrianLiu @tenstorrent/metalium-developers-infra
tests/scripts/run_pre_post_commit_regressions_fast_dispatch.sh @tenstorrent/metalium-developers-infra
tests/scripts/run_models.sh @tenstorrent/metalium-developers-infra
tests/scripts/single_card/ @tenstorrent/metalium-developers-infra
tests/scripts/single_card/nightly/ @tenstorrent/metalium-developers-infra
tests/scripts/t3000/ @tenstorrent/metalium-developers-infra
tests/scripts/tg/ @tenstorrent/metalium-developers-infra
tests/scripts/tgg/ @tenstorrent/metalium-developers-infra

# fabric
tt_metal/fabric/ @ubcheema @aliuTT @aagarwalTT @eelkozahTT

# metal - base
tt_metal/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema
tt_metal/host_api.hpp @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @davorchap
tt_metal/impl/device/ @abhullar-tt @pgkeller @aliuTT @tt-aho @tt-dma @tt-asaigal @ubcheema @davorchap @cfjchu
tt_metal/distributed/ @cfjchu @aliuTT @tt-asaigal @omilyutin-tt
tt_metal/**/requirements*.txt @tenstorrent/metalium-developers-infra

# metal - dispatch
tt_metal/impl/dispatch/kernels/packet_* @ubcheema @aliuTT
tt_metal/impl/dispatch/kernels/eth_* @ubcheema @aliuTT
tests/tt_metal/tt_metal/perf_microbenchmark/routing/ @ubcheema

# metal - fw, llks, risc-v
tt_metal/hw/ckernels/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/compute_kernel_api.h @davorchap @mywoodstock
tt_metal/include/compute_kernel_api/ @rtawfik01 @rdjogoTT @ttmtrajkovic
tt_metal/include/dataflow_kernel_api.h @davorchap @mywoodstock @ntarafdar
tt_metal/hw/firmware/riscv/common/dataflow_internals.h @davorchap @mywoodstock
tt_metal/hw/firmware/src/*erisc* @aliuTT @ubcheema
tt_metal/hw/inc/ethernet/ @aliuTT @ubcheema
tt_metal/hw/inc/wormhole/eth_l1_address_map.h @aliuTT @ubcheema
tt_metal/third_party/tt_llk_* @rtawfik01 @ttmtrajkovic @rdjogoTT
tt_metal/tt_stl/ @patrickroberts @yan-zaretskiy @eyonland @ayerofieiev-tt @dmakoviichuk-tt @sminakov-tt

sfpi/ @pgkeller

# metal - profiler
tt_metal/**/profiler/ @mo-tenstorrent
tt_metal/**/profiler/**/CMakeLists.txt @mo-tenstorrent @tenstorrent/metalium-developers-infra
tests/tt_metal/tools/profiler/ @mo-tenstorrent
tt_metal/hostdevcommon/profiler_common.h @mo-tenstorrent
docs/source/performance_measurement_tools/profiler.rst @mo-tenstorrent
tt-metal/tt_metal/programming_examples/profiler @mo-tenstorrent

# test scripts
tests/scripts/run_profiler_regressions.sh @mo-tenstorrent @tenstorrent/metalium-developers-infra
tests/scripts/run_performance.sh @tenstorrent/metalium-developers-infra

# TTNN
ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @cfjchu @TT-BrianLiu
ttnn/ttnn/library_tweaks.py @ayerofieiev-tt @tenstorrent/metalium-developers-infra
ttnn/ttnn/operations/moreh.py @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/**/kernels/ # Removes the owners above from owning kernels unless specified afterwards
ttnn/**/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy
ttnn/cpp/ttnn/tensor/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/ccl/ @SeanNijjar
ttnn/cpp/ttnn/deprecated/tt_dnn/op_library/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/deprecated/tt_lib/csrc/ @ayerofieiev-tt @razorback3 @dongjin-na

ttnn/cpp/ttnn/operations/moreh*/ @razorback3 @dongjin-na @cfjchu @ayerofieiev-tt @dmakoviichuk-tt
ttnn/cpp/ttnn/operations/ccl/ @SeanNijjar @cfjchu @jvegaTT @tt-aho
ttnn/cpp/ttnn/operations/pool/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/conv/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/sliding_window/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/data_movement/ @ntarafdar @sjameelTT @jaykru-tt @yugi957 @jvegaTT @llongTT @nardoTT
ttnn/cpp/ttnn/operations/data_movement/fold/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/data_movement/untilize_with_halo_v2/ @tenstorrent/metalium-developers-convolutions
ttnn/cpp/ttnn/operations/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT @asandhupatlaTT
ttnn/cpp/ttnn/operations/experimental/ccl/ @SeanNijjar @jvegaTT @tt-aho
ttnn/cpp/ttnn/operations/experimental/matmul/ @TT-BrianLiu @bbradelTT @yugaoTT @asandhupatlaTT
ttnn/cpp/ttnn/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
ttnn/cpp/ttnn/operations/reduction/ @bbradelTT @asandhupatlaTT @sjameelTT
ttnn/cpp/ttnn/operations/normalization/ @yugaoTT @tt-aho @asandhupatlaTT @bbradelTT
ttnn/cpp/ttnn/operations/embedding/ @ntarafdar @tt-aho @TT-BrianLiu @yugi957 @sjameelTT @jaykru-tt @llongTT @nardoTT
ttnn/cpp/ttnn/operations/embedding_backward/ @TT-BrianLiu @yan-zaretskiy
ttnn/ttnn/operations/eltwise @patrickroberts @yan-zaretskiy @eyonland
tests/ttnn/ @ayerofieiev-tt @dmakoviichuk-tt @rfurko-tt @cfjchu @TT-BrianLiu @razorback3 @dongjin-na @bbradelTT
tests/ttnn/unit_tests/gtests/ccl/ @SeanNijjar @jvegaTT @cfjchu @tt-aho
tests/ttnn/unit_tests/operations/ccl/ @SeanNijjar @jvegaTT @tt-aho
tests/ttnn/unit_tests/operations/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/ @xanderchin @jdesousa-TT @sjameelTT
tests/sweep_framework/sweeps
tests/sweep_framework/sweeps/eltwise/ @patrickroberts @yan-zaretskiy @eyonland
tests/sweep_framework/sweeps/conv2d/  @tenstorrent/metalium-developers-convolutions
tests/sweep_framework/sweeps/data_movement/  @sjameelTT @ntarafdar @jaykru-tt @yugi957 @llongTT @jvegaTT @nardoTT
tests/sweep_framework/sweeps/fused/  @bbradelTT @asandhupatlaTT @sjameelTT
tests/sweep_framework/sweeps/matmul/  @bbradelTT @asandhupatlaTT @sjameelTT
tests/sweep_framework/sweeps/reduction/  @bbradelTT @asandhupatlaTT @sjameelTT

# TTNN Distributed
ttnn/cpp/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt
ttnn/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt
tests/ttnn/distributed/ @cfjchu @ayerofieiev-tt @dmakoviichuk-tt @omilyutin-tt

# models
/models/ @uaydonat
/models/*/**
models/conv_on_device_utils*.py @tenstorrent/metalium-developers-convolutions
functional_*/ @uaydonat @esmalTT
models/demos @uaydonat
models/demos/metal_BERT_large_11 @tt-aho @TT-BrianLiu
models/demos/wormhole @uaydonat
models/demos/t3000 @uaydonat
models/demos/llama3 @cglagovichTT @yieldthought @mtairum @uaydonat
models/demos/qwen @sraizada-tt @mtairum @uaydonat @yieldthought
models/demos/falcon7b_common @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mamba @esmalTT @uaydonat @kpaigwar
models/demos/wormhole/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/wormhole/mistral7b @yieldthought @uaydonat @mtairum
models/demos/wormhole/stable_diffusion @esmalTT @uaydonat @tenstorrent/metalium-developers-convolutions
models/demos/t3000/falcon40b @uaydonat @djordje-tt @johanna-rock-tt
models/demos/t3000/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/t3000/llama2_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/t3000/mixtral8x7b @yieldthought @mtairum @uaydonat
models/demos/tg/llama3_70b @cglagovichTT @uaydonat @johanna-rock-tt @djordje-tt @kpaigwar
models/demos/tg/falcon7b @skhorasganiTT @djordje-tt @uaydonat
models/demos/grayskull @uaydonat
models/demos/yolov4 @dvartaniansTT @tenstorrent/metalium-developers-convolutions
models/demos/wormhole/yolov4 @dvartaniansTT @tenstorrent/metalium-developers-convolutions
models/demos/**/*resnet*  @tt-aho @tenstorrent/metalium-developers-convolutions
models/experimental/functional_unet @esmalTT @uaydonat @tenstorrent/metalium-developers-convolutions
models/perf/ @uaydonat
models/perf/perf_report.py @yieldthought @uaydonat
models/perf/benchmarking_utils.py @skhorasganiTT

# docs
docs/Makefile @tenstorrent/metalium-developers-infra
docs/source/ttnn/ttnn/dependencies/tt_lib.rst @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt
docs/source/ttnn/ @eyonland @patrickroberts @yan-zaretskiy @ayerofieiev-tt @razorback3 @dongjin-na

# misc
tests/**/dtx/ @tenstorrent/metalium-developers-convolutions
tests/**/*test*conv*.py @tenstorrent/metalium-developers-convolutions
tests/ttnn/unit_tests/operations/convolution @tenstorrent/metalium-developers-convolutions
tests/python_api_testing/unit_testing/fallback_ops @tt-aho
scripts/profiler/ @mo-tenstorrent
scripts/docker @tenstorrent/metalium-developers-infra

dockerfile @tenstorrent/metalium-developers-infra

ttnn/CMakeLists.txt @ayerofieiev-tt @dmakoviichuk-tt @yan-zaretskiy


# tt-train
tt-train/** @dmakoviichuk-tt @rfurko-tt
